<h1>Hello World</h1>

<form method="post" action="/statuses">
	<input type=text placeholder="Post a status!" name="status">
	<input type="submit" value="submit">
</form>

My friends: 
<br>
<%current_user.added_friends.each do |f|%>
	<a href="/users/<%=f.id%>"><%= f.name %></a>
<%end%>

<br>
<br>

Suggested friends: 
<br>
<%current_user.non_friends.each do |n|%>
	<%if n != current_user%>
		<a href="/users/<%=n.id%>"><%= n.name %></a>
		<form method="post" action="/friendships">
			<input type="hidden" name="friend_id" value="<%= n.id%>">
			<input type="submit" value="Add friend">
		</form>
	<%end%>

<%end%>
